.weight--light {
  font-weight: 300 !important; }

.weight--normal {
  font-weight: 400 !important; }

.weight--semibold {
  font-weight: 600 !important; }

.weight--bold {
  font-weight: 700 !important; }

.weight--ultrabold {
  font-weight: 900 !important; }
